@model FinalASP.Models.Producto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 col-md-offset-1">
    <div class="card card-raised">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="header header-primary text-left">
                <h5 style="margin-left:30px;margin-bottom:5px;">Editar Producto</h5>
                <small style="margin-left:30px;margin-top:1px;">Complete los campos</small>
            </div>
            <div class="content col-md-10 col-md-offset-1">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.idProducto)
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">loyalty</i>
                    </span>
                    <div class="form-group is-empty">
                        @Html.EditorFor(model => model.Referencia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Referencia, "", new { @class = "text-danger" })
                        <span class="material-input"></span>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">text_format</i>
                    </span>
                    <div class="form-group is-empty">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        <span class="material-input"></span>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">attach_money</i>
                    </span>
                    <div class="form-group is-empty">
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                        <span class="material-input"></span>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">people</i>
                    </span>
                    <div class="form-group is-empty">
                        @Html.DropDownList("Proveedor", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Proveedor, "", new { @class = "text-danger" })
                        <span class="material-input"></span>
                    </div>
                </div>

            </div>

            <div class="footer text-center col-md-offset-6" style="padding-bottom:20px;">
                <a href="/Productoes" class="btn btn-default">Volver</a>
                <button class="btn btn-warning" value="Save" type="submit">Actualizar<div class="ripple-container"></div></button>
            </div>

        }
    </div>
</div>


<!--
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Producto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idProducto)

        <div class="form-group">
            @Html.LabelFor(model => model.Referencia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Referencia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Referencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Proveedor, "Proveedor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Proveedor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Proveedor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
